/* Contact Page */
.contact-page{
    position: relative;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: url("https://cdna.artstation.com/p/assets/images/images/016/265/382/large/mikhail-gorbunov-phone.jpg?1551524926") center center fixed no-repeat;
    background-size: cover;
}
.contact-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
}
.contact-main{
    display: flex;
    width: 50vw;
    min-height: 30vw;
    color: white;
    background-image: linear-gradient(142deg, rgba(180,92,136,0.5) 20%, rgba(60,117,172,0.5) 58%);
    /* background-color: rgba(255, 255, 255,0.4); */
    border:2px solid rgba(172, 60, 115,0.6);
    border-radius: 5px;
    margin: 1%;
    padding: 1% 0;
}
.contact-main h1{
    margin: 10px 0;
    text-align: center;
    font-family: Jost, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details{
    width: 500px;
    text-align: center;
}
.contact-details p{
    margin: 30px 0;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
}
.contact-details p i{
    padding: 0 10px;
}
/* Contact ends here */
/* Media Queries */
@media (max-width : 992px){
    .contact-main{
        width: 90%;
        height: 80%;
    }
}

@media (max-width : 520px){
    .contact-page{
        width: 100vw;
        position: relative;
        margin : auto;
    }
    .contact-main{
        margin:0 3%;
        width: auto;
        height: 70%;
        min-height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px black;
    }
    .contact{
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    .contact-main h1{
        font-size: 20px;
    }
    .contact-main p{
        padding: 0 5px;
        position: relative;
        justify-content: space-around;
        display: inline-block;
        font-size: 15px;
    }
    .contact-main p:nth-child(odd){
        font-weight: 900;
        font-size: 20px;
    }
}