@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Overlock:ital@1&family=Quattrocento+Sans&family=Sriracha&display=swap');
/* Projects starts here */
:root{
    --theme-color : #00759D;
    --tag-bg : #62A7D0;
    --project-head-color:#CDCDCD;
    --slider-bg:linear-gradient(93deg, rgba(240,239,239,1) 39%, rgba(228,228,228,1) 58%);
}
.project-head{
    color:var(--project-head-color);
}
.project-container{
    margin: auto;
    width: 90%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-card:nth-child(odd){
    transform: translateX(-10%);
}
.project-card:nth-child(even){
    transform: translateX(10%);
}
.project-card{
    margin: 10px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 450ms ease-in-out,
                transform 500ms ease-in-out;
}

.project-container .project-card-fade-in{
    opacity: 1;
    transform: translateX(0);
}
.project-card h1{
    margin: 10px 0;
    text-align: center;
    font-family: Jost, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.project-card p{
    margin-bottom: 10px;
    text-align: center;
}
.project-img-container{
    flex: 2 1;
    width: 100%;
    height: 40vh;
    position: relative;
    background: var(--slider-bg);
}
.order{
    order:2;
}
.project-desc-container{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    height: 40vh;
}
.project-img-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px 2px 10px grey;
    box-shadow: 5px;
    opacity: 0;
}
.project-desc-container button{
    width: 90%;
    border:none;
    border-radius: 1rem;
    background: linear-gradient(270deg, rgba(99,112,255,1) 25%, rgba(42,140,213,1) 49%, rgba(99,112,255,1) 100%);
}
.project-desc-container a{
    font-size: 1vw;
    font-weight: 600;
    color: white;
    font-family: Jost, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Slider Container Ends Here */
.fade {
    animation: remove 2s ease-in;
}
.show {
    animation: add 2s ease-in-out;
}

@keyframes add {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes remove {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* Slider Container Ends Here */
.project-des{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}
.tags{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 5%;
    border-radius: 10px;
    padding: 5px;
    list-style-type: none;
    background-color: var(--tag-bg);
    color: white;
    white-space: nowrap;
    font-family: Jost, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fa-tag{
    color: white;
    margin-right: 2%;
}
.btn{
    border: 2px solid #174274;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
    transition: 0.3s ease-in-out;
}
/* Hover */
.btn:hover{
    background-color: #174274;
}
.btn:hover>a{
    color: white;
}
.btn a{
    text-decoration: none;
    color: #174274;
}
#btn-projects{
    animation: btnShadow 1s alternate ease-in-out infinite;
}
@keyframes btnShadow{
    from{
        box-shadow: none;
    }
    to{
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
}
@media(max-width:991px){
    .project-card{
        margin: 10px;
        width: 90vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 2px 10px grey;
        border-radius: 5px;
    }
    .project-desc-container h1{
        margin: 10px 0;
        font-size: 2.5vh;
    }
    .project-card p{
        margin-bottom: 10px;
        text-align: center;
    }
    .project-img-container{
        flex: 2;
        min-height: 20vh;
        overflow: hidden;
    }
    .order{
        order:unset;
    }
    .project-desc-container{
        width: 100%;
        flex:1;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .project-desc-container a{
        font-size: 5vw;
        color: white;
    }
    .project-img-container img{
        width: 100%;
        height: auto;
        min-height:150px;
        object-fit: inherit;
        box-shadow: none;
    }
}
@media (max-width:520px){
    .project-des{
        padding: 2vh 1vh;
    }
    .tags{
        flex: auto;
        margin: 1% 2%;
    }
    .project-img-container{
        border-radius: 10px;
    }
}
/* Projects ends here */