
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Redressed",sans-serif;
    box-sizing: border-box;
}
:root{
    --menu-color : #FFFFFF;
    --glass-shadow : #01194A;
    --theme-color : #00759D;
}
button a{
    text-decoration: none;
}


/* Main */
.main{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bg-image{
    max-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.glass-bg{
    width:80%;
    height: 80%;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 -1px 15px var(--glass-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}
.profile, .description{
    width:50%
}
.description{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-size: 3vh;
    text-align: center;
}
.overview{
    flex:2;
    font-size: 3vh;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.design-skill ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}
.design-skill ul li{
    font-size: 1.5vw;
    border-radius: 5px;
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    margin:2% auto;
    color:var(--menu-color);
}
.design-skill ul li a{
    text-decoration: none;
}
/* Main Ends here */
.img-icon{
    width: 100%;
    display: flex;
    margin:5% auto;
}
.img-box{
    margin:auto;
    display: flex;
    justify-content: center;
    flex:6;
}
.img-box img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 20px 15px 0px 5px rgba(217, 217, 217,0.5) ;
}
.icons{
    position: relative;
    display: flex;
    justify-content: center;
}
.icons ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    list-style-type: none;
}
.icons ul li{
    display: inline-block;
    padding:5% 0;
}
.icons ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 15px;
    color: whitesmoke;
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
}
.icons ul li a::after{
    width: 100%;
    content: attr(data-text);
    position: absolute;
    top:0;
    right:-125%;
    display: none;
    top: 0;
    right: -200%;
    transform: translate(10px, 10px);
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 5px 25px;
}
.icons ul li a:hover{
    background-color: rgba(255,255,255,0.5);
}
.icons ul li a:hover::after{
    display: flex;
    justify-content: center;
}
.c-right .profile .details{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-right .profile .details hr{
    width: 50px;
    color: #174274 ;
}
.c-right .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    max-width: 100%;
    height: 650px;
    background-color: #174274;
    color: white;
}
.description .details p span{
    padding: 0 10px;
    font-size: 25px;
    line-height: -25px;
}
.description .details{
    position: relative;
    text-align: center;
    color: black;
}
.btn-div{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}
.btn-div button{
    margin: 5px 10px;
    font-weight: 600;
    padding: 3% 6%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;
}
/* hover */
.btn-div button:hover{
    background-color: transparent;
    border: 2px solid white;
    
}
.btn-div button:hover>a{
    color: white;
}
.btn-div button a{
    color: var(--theme-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.info{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}
.info .info-details{
    margin: 0 10px;
    padding: 0 5px;
    display: inline;
    font-size: 15px;
}







/* Scroll to Top */
.scroll-to-top{
    position: fixed;
    bottom: 12px;
    right: 5%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #174274;
    z-index: 3;
    cursor: pointer;
    animation: bgEffect 0.5s alternate ease-in-out infinite;
}
.scroll-to-top .icon{
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 5px;
    animation: scrollToTop 0.5s alternate ease-in-out infinite;
}
@keyframes bgEffect{
    from{
       box-shadow:none ;
    }
    to{
        box-shadow: 0 0 10px #174274 ;
    }
}
@keyframes scrollToTop {
    from{
        transform: translateY(2px);
    }
    to{
        transform: translateY(-1px);
    }
}
/* Media Queries */
@media (max-width : 991px){
   #navigation{
        display: none;
    }
    .menuToggle{
        display: block;
        font-size: 25px;
        line-height: 50px;
        margin: 0 10px;
        cursor: pointer;
        color: #174274;
    }
    .header .logo #name{
        font-size: 20px;
    }
    .c-left{
        display: none;
    }
    /* Main Section  */
    .glass-bg{
        width: 90%;
    }
    .img-box img{
        width: 100px;
        height: 100px;
    }
    .icons ul li a{
        font-size: calc(10% + 1rem);
    }
    .info .info-details{
        font-size: calc(10px + 10%);
    }
    .btn-div button a {
        font-size: calc(1.5vw + 15%);
    }
    /* Main Section Ends Here */
    .work .work-title{
        font-size: 20px;
        top : 10%
    }
    .work .work-detail{
        top : 10%
    }
    .skills-head{
        text-align: center;
        font-size: 30px;
    }
    .Certificate-title{
        font-size: 30px;
    }
    
    .btn{
        margin: 5px 0;
    }
}
@media (max-width : 520px){
    /* Glass : Main Section */
    .glass-bg{
        width: 90%;
        flex-direction: column;
    }
    .profile{
        width: 100%;
        order: 2;
    }
    .design-skill ul li {
        font-size: 3vw;
    }
    .info .info-details {
        font-size: calc(8px + 15%);
    }
    .icons ul li a:hover::after{
        display: none;
    }
    .description{
        width: 100%;
        order: 1;
    }
    .btn-div button {
        padding: 2% 4%;
    }
    .btn-div button a {
        font-size: calc(2vw + 15%);
    }
    /* Glass : Main Section Ends Here */
    .c-right{
        width: 100%;
        position: relative;
        margin : auto;
        margin-top: 30px;
        display: block;
    }
    .c-right .profile{
        position: relative;
        width: 300px;
        height: 500px;
        margin : auto;
        border: 2px solid #174274;
        box-shadow: 2px 5px 8px #16273a;
    }
    .c-right .description{
        position: relative;
        display: flex;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: auto;
        height: 450px;
        background-color: #174274;
        color: white;
        z-index: 2;
    }
    
}

