
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Redressed",sans-serif;
    box-sizing: border-box;
}
.header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 2px 15px black;
    max-width: 100%;
}
.header .logo{
    margin: 0 10px;
    line-height: 50px;
    font-size: 15px;
}
.header .logo span{
    position: relative;
    color: #174274;
    animation: anime 1s ease-in-out;
}
.menuToggle{
    display: none;
}
.navbar ul{
    display: inline;
    list-style-type: none;

}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    margin: 0 15px;
    padding: 0 5px;
    line-height: 50px;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
}
.navbar ul li a:hover{
    color: #174274;
}
@keyframes anime{
    0%{
        top :-50px
    }
    50%{
        top : 10px
    }
    100%{
        top : 0px
    }
}
/* Nabar ends here */
/* Header ends here */

/* Main */
.main{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: url(https://lh3.googleusercontent.com/proxy/SjqO8whfs6DT7IRgSyoY9-mbCoAQyNJpTNQG25fXW6Sn0J40iauP_1iiGVVjnR84ajSQ4_iC0QfJ7cBnz4ycY-OOoukwRJO8D77KGgVfWAE3AH_RgrUUUT_zQKCl4B5cxLZiODNkdKV-gpwjYxIlyJoAbY4DD2XdAl3l5UN5J2mtP_zDs-kyXUyIN0xxKH-xbmnWqKt1UlLugHoBWUEeS8w) center center fixed no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Ends here */
.c-right{
    margin-left: -50px;
    background-color: white;
    display: flex;
}
.c-right .profile{
    position: relative;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    border-top: 1px solid #174274;
    border-left: 1px solid #174274;
    box-shadow: -2px -2px 8px #16273a;
}
.c-right .profile .img-box{
    display: flex;
    justify-content: center;
    height: 350px;
}
.c-right .profile .img-box img{
    margin-top : 50px;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}
.c-right .profile .details{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-right .profile .details hr{
    width: 50px;
    color: #174274 ;
}
.icons{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #174274;
    top: 97px;
}
.icons ul{
    list-style-type: none;

}
.icons ul li{
    display: inline-block;
    padding: 10px 0px;
}
.icons ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
}

.c-right .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    max-width: 100%;
    height: 650px;
    background-color: #174274;
    color: white;
}
.description .details p span{
    padding: 0 10px;
    font-size: 25px;
    line-height: -25px;
}
.description .details{
    position: relative;
    top: -15%;
    width: 90%;
    text-align: center;
    color: white;
}
.details .btn-div .btn {
    margin: 5px 10px;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 5px 15px;
    border: 2px solid #174274;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;
}
/* hover */
.details .btn-div .btn:hover{
    background-color: #174274;
    border: 2px solid white;
    
}
.details .btn-div .btn:hover>a{
    color: white;
}
.btn-div .btn a{
    color: #174274;
    text-decoration: none;
}

.info{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}
.info .info-details{
    margin: 0 10px;
    padding: 0 5px;
    display: inline;
    font-size: 15px;
}
/* Work Experience */
.work{
    width: 100%;
    height: 500px;
    background: url(https://cdn.pixabay.com/photo/2021/01/21/15/46/laptop-5937691_960_720.jpg) center center fixed no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
.work .work-title{
    position: relative;
    font-size: 30px;
}
.work .work-detail{
    position: relative;
    width: 40%;
}
.work .work-detail h1{
    position: absolute;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 0;
    line-height: 0px;
    font-size: 50px;
}
.work-detail h2{
    padding-top: 20px;
}
.work .work-detail h3{
    padding: 20px 0;
}
.work-detail p{
    margin: 5px 0;
    padding: 0 5px ;
    font-size: 20px;
}
.work .work-detail img{
    position: relative;
    margin-top: 4px;
    width: 44px;
    height: 30px;

}
/* Experience Ends here */
/* Skills */
.skills-head{
    font-size: 50px;
    margin: 20px;
    text-align: center;
}
.skill-set{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skillList .s-container{
    display: flex;
    width: 300px;
    box-shadow: 0 2px 10px black;
    margin: 10px 5px;
}
.s-image{
    width: 80px;
    height: 100px;
}
.s-image img{
    position: relative;
    width: 90%;
    height: 90%;
    padding: 5px 0;
    object-fit:contain;
}
.s-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}
/* Skills ends here */
/* Contact Page */
.contact-page{
    position: relative;
    max-width: 100%;
    background: url(https://images.hdqwalls.com/wallpapers/bthumb/anime-city-girl-4k-xl.jpg) center center fixed no-repeat;
    background-size: cover;
}
.contact-container{
    display: flex;
    margin: 0;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}
.contact-main{
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
    height: 400px;
    color: white;
    background-color: rgba(2, 2, 2, 0.5);
}
.contact-main h1{
    margin: 10px 0;
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details{
    width: 500px;
    text-align: center;
}
.contact-details p{
    margin: 30px 0;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
}
.contact-details p i{
    padding: 0 10px;
}
/* Contact ends here */
/* Projects starts here */
.project-container{
    margin: auto;
    width: 90%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-card{
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
}
.project-card h1{
    margin: 10px 0;
}
.project-card p{
    margin-bottom: 10px;
    text-align: center;
}
.project-img-container{
    width: 100%;
    height: auto;
}
.project-img-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.btn{
    border: 2px solid #174274;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0px;
    padding: 5px 15px;
    transition: 0.3s ease-in-out;
}
/* Hover */
.btn:hover{
    background-color: #174274;
}
.btn:hover>a{
    color: white;
}
.btn a{
    text-decoration: none;
    color: #174274;
}
/* Projects ends here */

/* Certificate starts here */
.certificate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-btn{
    margin: auto;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 50%;
    box-shadow: 0px 0px 5px  #1a1a1a;
    cursor: pointer;
    display: flex;
    text-align: center;
} 
.arrow i{
    line-height: 1.8;
}
.slide-btn:hover{
    box-shadow: 0px 0px 12px  #174274;
}
.certificate{
    display: none;
}
 .active{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    margin: 10px 20px;
}
.active:hover{
    box-shadow: 2px 0 10px #174274;
}
.slider-anime{
    animation: slider 0.5s ease-in-out forwards;
}
@keyframes slider{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1.00);
    }
}
.Certificate-title{
    font-size: 50px;
    margin: 20px 0;
}
.certificateList{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}
.certificate-img{
    width: 100%;
    height: 200px;
}
.certificate-img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.certificate-provider{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.certificate-provider img{
    width: 30px;
    height: auto;
    object-fit:cover;
}
.certificate-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certificate-data h3{
    text-align: center;
}
.certificate-id{
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

/* Certificate Endss here */
/* Footer */
.footer{
    position: relative;
    display: flex;
   justify-content: center;
   padding: 10px;
   background-color: #174274;
   color: white;
}
/* Media Queries */
@media (max-width : 991px){
   #navigation{
        display: none;
    }
    .menuToggle{
        display: block;
        font-size: 25px;
        line-height: 50px;
        margin: 0 10px;
        cursor: pointer;
        color: #174274;
    }
    .header .logo #name{
        font-size: 20px;
    }
    .c-left{
        display: none;
    }
    .work .work-title{
        font-size: 20px;
        top : 10%
    }
    .work .work-detail{
        top : 10%
    }
    .skills-head{
        text-align: center;
        font-size: 30px;
    }
    .Certificate-title{
        font-size: 30px;
    }
}
@media (max-width : 520px){
    .c-right{
        width: 100%;
        position: relative;
        margin : auto;
        margin-top: 30px;
        display: block;
    }
    .c-right .profile{
        position: relative;
        width: 300px;
        height: 500px;
        margin : auto;
        border: 2px solid #174274;
        box-shadow: 2px 5px 8px #16273a;
    }
    .c-right .description{
        position: relative;
        display: flex;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: auto;
        height: 450px;
        background-color: #174274;
        color: white;
        z-index: 2;
    }
    .work{
        position: relative;
        margin-top: 350px;
        max-width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .work .work-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .work .work-detail{
        width: 90%;
        text-align: center;
    }
    .work .work-detail h1{
        position: relative;
        display: block;
        text-align: center;
    }
    .contact-page{
        width: 100vw;
        position: relative;
        margin : auto;
    }
    .contact-main{
        width: 100vw;
        max-width: 90%;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0px 10px rgb(87, 0, 114);
    }
    .contact-main .contact{
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    .contact-main h1{
        font-size: 20px;
    }
    .contact-main p{
        padding: 0 5px;
        position: relative;
        justify-content: space-around;
        display: inline-block;
        font-size: 15px;
    }
    .contact-main p:nth-child(odd){
        font-weight: 900;
        font-size: 20px;
    }
}

